body {
  font-family: Arial;
  margin: 0;
  background: #f4f6f9;
}

.navbar {
  background: #1e293b;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.nav-links a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.container {
  display: flex;
}

.sidebar {
  width: 220px;
  background: white;
  padding: 20px;
  border-right: 1px solid #ddd;
  min-height: 100vh;
}

.sidebar button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
}

.content {
  flex: 1;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

table th {
  background: #f1f5f9;
}

/* MODAL */

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

.modal-content {
  background: white;
  width: 350px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 6px;
}

.modal-content input,
.modal-content select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.modal-content button {
  width: 100%;
  padding: 10px;
  background: #16a34a;
  color: white;
  border: none;
}

.close {
  float: right;
  cursor: pointer;
  font-size: 20px;
}
.balance-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.balance-card {
  flex: 1;
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}

.balance-card h3 {
  margin-bottom: 15px;
  color: #1e293b;
}

.balance-card h2 {
  font-size: 26px;
  margin-top: 10px;
  color: #16a34a;
}

.bank-item {
  padding: 10px;
  border-bottom: 1px solid #e5e7eb;
  font-size: 14px;
}

.bank-item:last-child {
  border-bottom: none;
}
#breadcrumb {
  font-size: 14px;
  margin-bottom: 15px;
}

#breadcrumb span {
  color: #2563eb;
  cursor: pointer;
  font-weight: 500;
}

#breadcrumb span:hover {
  text-decoration: underline;
}

#breadcrumb .separator {
  margin: 0 6px;
  color: #64748b;
}
